.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.gameStatus {
	text-align: center;
}

.rules {
	max-width: 400px;
	margin: 20px auto;
	text-align: left;
}

.rules li {
	margin-bottom: 10px;
}

button {
	margin: 10px;
	cursor: pointer;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
